div.brands {
  width: 1304px;
  height: 224px;
  padding: 24px 0 24px 0;
  margin: 0 auto;
  border: 1px solid #e0e0e6;
  border-radius: 16px;
  margin-top: 24px;
  overflow: hidden;
}
div.brands > div {
  width: 1302px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.brands > div > img {
  width: 24px;
  height: 24px;
}
div.brands > div > p {
  width: 193px;
  height: 44px;
  font-size: 21px;
  font-weight: 500;
  font-family: Yregular;
  line-height: 44px;
  color: #080a38;
  text-align: center;
  word-spacing: 0;
}

.mySwiper3 {
  width: 100%;
  height: 150px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.mySwiper3 .swiper-slide {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySwiper3 .swiper-slide a {
  width: 143px;
  height: 118px;
  border-left: 1px solid #e0e0e6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px 4px 16px;
}
.mySwiper3 .swiper-slide img {
  width: 110px;
  height: 110px;
  object-fit: contain;
}

.swiper-button-prev3 {
  background-color: white;
  scale: 0.35;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4a4a4a;
  position: absolute;
  right: -25px;
  transition: all 200ms ease-in-out;
  background-image: url(../media/Shgft/flshperv.svg);
  background-size: 90px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: #3f4064 !important;
  z-index: 999;
  opacity: 0;
}
.mySwiper3:hover .swiper-button-prev3 {
  opacity: 1;
}

.swiper-button-next3 {
  background-color: white;
  color: #3f4064;
  scale: 0.35;
  border: 1px solid #4a4a4a !important;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -25px;
  transition: all 200ms ease-in-out;
  background-image: url(../media/Shgft/flshnext.svg);
  background-size: 90px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  z-index: 999;
}
