footer {
  width: 100%;
  height: 100%;
  margin: 48px 0 0;
  padding: 32px 0 0;
  border-top: 1px solid #e0e0e6;
  overflow: hidden;
}
footer > div.footer {
  width: 1350px;
  max-width: 1550px;
  padding: 20px 0px 20 0px;
  margin: 0 auto;
}
footer > div.footer > div:nth-of-type(1) {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer > div.footer > div:nth-of-type(1) > img {
  width: 113px;
  height: 30px;
  object-fit: cover;
}
footer > div.footer > div:nth-of-type(1) > a {
  width: 138px;
  height: 40px;
  border: 1px solid #e0e0e6;
  padding: 8px 16px 8px 16px;
  color: #9e9fb1;
  font-family: Yregular;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #ffffff;
  gap: 8px;
}
footer > div.footer > div:nth-of-type(2) {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: end;
}
footer > div.footer > div:nth-of-type(2) > p:nth-of-type(1) {
  font-family: Yregular;
  font-size: 12px;
  line-height: 26px;
  word-spacing: 0;
  color: #3f4064;
  width: 152px;
  height: 26px;
}
footer > div.footer > div:nth-of-type(2) > div {
  width: 1px;
  height: 15px;
  margin: 5px 20px;
  background-color: #9e9fb1;
}
footer > div.footer > div:nth-of-type(2) > p:nth-of-type(2) {
  font-family: Yregular;
  font-size: 12px;
  line-height: 26px;
  word-spacing: 0;
  color: #3f4064;
  width: 500px;
  height: 26px;
}
footer > div.footer > div:nth-of-type(3) {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
footer > div.footer > div:nth-of-type(3) > a {
  width: 321px;
  height: 104px;
  padding: 12px 0 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
footer > div.footer > div:nth-of-type(3) > a > img {
  width: 56px;
  height: 56px;
  object-fit: cover;
}
footer > div.footer > div:nth-of-type(3) > a > p {
  width: 150px;
  height: 24px;
  font-family: Yregular;
  font-size: 11px;
  line-height: 24px;
  word-spacing: 0;
  color: #3f4064;
  text-align: center;
}
footer > div.footer > div:nth-of-type(4) {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  margin-top: 40px;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(1) {
  width: 25%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(1) > p {
  width: 425px;
  height: 34px;
  margin: 8px 0 0 0;
  font-family: Yregular;
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  color: #3f4064;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(1) > a {
  width: 425px;
  height: 30px;
  margin: 8px 0 0 0;
  font-family: Yregular;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #767790;
  text-decoration: none;
  word-spacing: 0;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(2) {
  width: 25%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(2) > p {
  width: 425px;
  height: 34px;
  margin: 8px 0 0 0;
  font-family: Yregular;
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  color: #3f4064;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(2) > a {
  width: 425px;
  height: 30px;
  margin: 8px 0 0 0;
  font-family: Yregular;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #767790;
  text-decoration: none;
  word-spacing: 0;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(3) {
  width: 25%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(3) > p {
  width: 425px;
  height: 34px;
  margin: 8px 0 0 0;
  font-family: Yregular;
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  color: #3f4064;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(3) > a {
  width: 425px;
  height: 30px;
  margin: 8px 0 0 0;
  font-family: Yregular;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #767790;
  text-decoration: none;
  word-spacing: 0;
}
footer > div.footer > div:nth-of-type(4) > div:nth-of-type(3) > a {
  width: 425px;
  height: 30px;
  margin: 8px 0 0 0;
  font-family: Yregular;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #767790;
  text-decoration: none;
  word-spacing: 0;
}

footer > div.footer > div:nth-of-type(4) > div:nth-of-type(4) {
  width: 25%;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
}
footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(1) {
  width: 323px;
  height: 86px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(1)
  > h4 {
  width: 323px;
  height: 34px;
  margin: 12px 0 0 0;
  font-family: Yregular;
  font-size: 16px;
  font-weight: 700;
  word-spacing: 0;
  color: #3f4064;
}

footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(1)
  > div {
  width: 323px;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 25px;
  padding-top: 15px;
}

footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(2) {
  width: 100%;
  height: 200px;
  margin: 32px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: top;
}
footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(2)
  > h4 {
  width: 350px;
  height: 34px;
  margin: 12px 0 0 0;
  font-family: Yregular;
  font-size: 16px;
  font-weight: 700;
  word-spacing: 0;
  color: #3f4064;
}
footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(2)
  > div {
  width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 10px;
  margin-top: 20px;
}
footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(2)
  > div
  > input.search {
  width: 260px;
  height: 48px;
  padding: 8px 20px 8px 0;
  border: unset;
  border-radius: 8px;
  background-color: #f1f2f4;
  font-family: Yregular;
  outline: unset;
  color: #7e7fad;
}

footer
  > div.footer
  > div:nth-of-type(4)
  > div:nth-of-type(4)
  > div:nth-of-type(2)
  > div
  > input.button {
  width: 55px;
  height: 48px;
  padding: 8px 0 8px 0;
  border: unset;
  border-radius: 8px;
  background-color: #f1f2f4;
  font-family: Yregular;
  outline: unset;
  color: #7e7fad;
}

footer > div.footer > div:nth-of-type(5) {
  width: 100%;
  height: 76px;
  margin: 28px 0 0 0;
  padding: 8px 20px 8px 20px;
  border-radius: 8px;
  background-color: #3c4b6d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer > div.footer > div:nth-of-type(5) > div:nth-of-type(1) {
  width: 290px;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

footer > div.footer > div:nth-of-type(5) > div:nth-of-type(1) > img {
  width: 44px;
  height: 44px;
  object-fit: cover;
}

footer > div.footer > div:nth-of-type(5) > div:nth-of-type(1) > p {
  width: 228px;
  height: 44px;
  margin: 16px 20px 0 0;
  font-family: Yregular;
  font-size: 21px;
  font-weight: 500;
  word-spacing: 0;
}

footer > div.footer > div:nth-of-type(5) > div:nth-of-type(2) {
  width: 1260px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  margin-right: 70px;
}
footer > div.footer > div:nth-of-type(5) > div:nth-of-type(2) > a {
  margin-left: 15px;
}
footer > div.footer > div:nth-of-type(5) > div:nth-of-type(2) > a > img {
  width: 142px;
  height: 44px;
  object-fit: cover;
  border-radius: 4px;
}
footer > div.footer > div:nth-of-type(5) > div:nth-of-type(3) {
  width: 44px;
  height: 44px;
  border: 1px solid #e0e0e6;
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 4px;
}
footer > div.footer > div:nth-of-type(5) > div:nth-of-type(3) > img {
  width: 42px;
  height: 44px;
  object-fit: cover;
  display: flex;
  align-items: start;
  justify-content: center;
}
footer > div.footer > div:nth-of-type(6) {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-top: 30px;
  border-top: 1px solid #f1f2f4;
  padding-top: 10px;
}
#more {
  display: none;
}
button {
  border: unset;
  outline: unset;
  font-family: Yregular;
  background-color: unset;
  color: #19bfd3;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding-top: 10px;
}
button > span {
  border: unset;
  outline: unset;
  font-family: Yregular;
  background-color: unset;
  color: #19bfd3;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(1) {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding-top: 20px;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(1) > h1 {
  font-family: Yregular;
  font-size: 21px;
  font-weight: 700;
  line-height: 44px;
  word-spacing: 0;
  color: #5a5c7a;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(1) h2 {
  font-family: Yregular;
  font-size: 16px;
  font-weight: 700;
  line-height: 34px;
  word-spacing: 0;
  color: #767790;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(1) a {
  font-family: Yregular;
  font-size: 12px;
  line-height: 26px;
  word-spacing: 0;
  color: #19bfd3;
  text-decoration: none;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(1) p {
  font-family: Yregular;
  font-size: 12px;
  line-height: 26px;
  word-spacing: 0;
  color: #767790;
  margin: 2px;
  text-align: right;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(1) p span {
  opacity: 0.6;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(2) {
  width: 30%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(2) > a {
  width: 109px;
  height: 109px;
  border: 1px solid #e0e0e6;
  margin: 8px 0 0 0;
  padding: 16px 16px 16px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  row-gap: 10px;
}
footer > div.footer > div:nth-of-type(6) > div:nth-of-type(2) > a > img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}
footer > div.footer > div:nth-of-type(7) {
  width: 100%;
  height: 89px;
  border-top: 1px solid #f1f2f4;
  padding: 32px 0 32px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
footer > div.footer > div:nth-of-type(7) > P {
  font-family: Yregular;
  font-size: 11px;
  line-height: 24px;
  word-spacing: 0;
  color: #767790;
}
footer > div.icons {
  width: 100%;
  height: 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
footer > div.icons > a {
  width: 169.9px;
  height: 80px;
  border-bottom: 1px solid #e0e0e6;
  border-right: 1px solid #e0e0e6;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer > div.icons > a:nth-of-type(1) {
  border-right: unset;
}
footer > div.icons > a:nth-of-type(10) {
  border-right: unset;
}
footer > div.icons > a > img {
  width: 90px;
  height: 20px;
  object-fit: contain;
}
input.PB {
  width: 48px;
  height: 48px;
  padding: 12px 12px 12px 12px;
  color: #ffffff;
  background-color: #ef4056;
  position: fixed;
  top: 668px;
  bottom: 10px;
  right: 1430px;
  left: 50px;
  display: flex;
  z-index: 999;
  cursor: pointer;
  border-radius: 50%;
  outline: unset;
  border: unset;
  background-image: url(../media/poshtibni/poshtibni.svg);
  background-position: center;
  background-repeat: no-repeat;
}
