section.shgft {
  margin: 0 auto;
  margin-top: 30px;
  width: 1304px;
  height: 300px;
  background-color: #ef394e;
  padding: 20px 3px;
  border-radius: 16px;
  direction: rtl;
}
.mySwiper2 {
  width: 100%;
  height: 100% !important;
  position: relative;
}
section.shgft .mySwiper2 div.swiper-slide {
  width: 182px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.shgft .mySwiper2 div.swiper-slide.mark {
  width: 175px !important;
  background-color: #ef394e;
}
section.shgft .mySwiper2 div.swiper-slide.mark > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.shgft .mySwiper2 div.swiper-slide.mark > div > img:nth-of-type(1) {
  width: 85px;
  height: 92px;
}
section.shgft .mySwiper2 div.swiper-slide.mark > div > img:nth-of-type(2) {
  width: 115px;
  height: 115px;
}
section.shgft .mySwiper2 div.swiper-slide.mark > div > a {
  font-size: 14px;
  text-decoration: none;
  font-family: Yregular;
  color: white;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.first {
  border-radius: 0 8px 8px 0;
}
.last {
  border-radius: 8px 0 0 8px;
}
.last > img {
  border: 2px solid #19bfd3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding: 15px;
}
.last > p {
  font-family: Yregular;
  font-size: 14px;
  font-weight: 700;
  color: #3f4064;
  margin-top: 10px;
}
section.shgft .mySwiper2 div.swiper-slide > img {
  scale: 0.8;
}
div.content {
  width: 180px;
  display: flex;
  justify-content: space-between;
  font-family: Yregular;
  color: #3f4064;
  padding: 0 10px;
  direction: ltr;
}
div.content > div.price {
  display: flex;
  gap: 5px;
  font-family: NUMregular;
}
div.content > div.price > img {
  width: 18px;
  height: 18px;
}
div.content > span {
  font-size: 11px;
  color: white;
  background-color: #ef394e;
  border-radius: 25px;
  padding: 0 9px;
  font-family: NUMregular;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-slide > h4 {
  color: #3f4064;
  font-size: 16px;
  font-family: NUMregular;
}
.mySwiper2 .swiper-slide > h5 {
  width: 55%;
  color: #c5c5ce;
  text-decoration: line-through;
  font-size: 14px;
  font-family: NUMregular;
  display: flex;
  justify-content: left;
}

.mySwiper2 .swiper-button-prev2 {
  background-color: white;
  scale: 0.3;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4a4a4a;
  position: absolute;
  top: 35%;
  right: 140px;
  transform: translateY(-50%);
  z-index: 999;
  opacity: 0;
  transition: all 200ms ease-in-out;
  background-image: url(../media/Shgft/flshperv.svg);
  background-size: 90px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: #3f4064 !important;
}
.mySwiper2:hover .swiper-button-prev2 {
  opacity: 1;
}
.mySwiper2 .swiper-button-next2 {
  background-color: white;
  scale: 0.3;
  border: 1px solid #4a4a4a;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: -35px;
  transform: translateY(-50%);
  z-index: 999;
  background-image: url(../media/Shgft/flshnext.svg);
  background-size: 90px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  color: #3f4064 !important;
}
