div.urview2 {
  width: 1304px;
  height: 421px;
  margin: 25px auto;
  border: 1px solid #e0e0e6;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.urview2 > div.dftr {
  width: 325px;
  height: 419px;
  display: flex;
  align-items: center;
}
div.urview2 > div.dftr > div {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 419px;
  padding: 8px 20px;
  position: relative;
}
div.urview2 > div.dftr > div > h4 {
  width: 90px;
  height: 34px;
  font-size: 16px;
  font-weight: 700;
  font-family: Yregular;
  line-height: 34px;
  color: #23254e;
}
div.urview2 > div.dftr > div > p {
  width: 285px;
  height: 24px;
  font-size: 11px;
  font-family: Yregular;
  line-height: 24px;
  color: #767790;
}
div.urview2 > div.dftr > div > div {
  width: 285px;
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
div.urview2 > div.dftr > div > div > a {
  width: 142px;
  height: 147px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e0e0e6;
  border-bottom: 1px solid #e0e0e6;
}
div.urview2 > div.dftr > div > div > a:nth-of-type(2) {
  border-left: unset;
}
div.urview2 > div.dftr > div > div > a:nth-of-type(3) {
  border-bottom: unset;
}
div.urview2 > div.dftr > div > div > a:nth-of-type(4) {
  border-left: unset;
  border-bottom: unset;
}
div.urview2 > div.dftr > div > div > a > img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
div.urview2 > div.dftr > div > a:nth-last-of-type(1) {
  width: 50px;
  height: 26px;
  font-family: Yregular;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 0;
  line-height: 26px;
  text-decoration: none;
  color: #19bfd3;
  position: absolute;
  bottom: 15px;
  right: 135px;
}

div.urview2 > div.laptop {
  width: 325px;
  height: 419px;
  display: flex;
  align-items: center;
}
div.urview2 > div.laptop > div {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 419px;
  padding: 8px 20px;
  position: relative;
  border-right: 1px solid #e0e0e6;
}
div.urview2 > div.laptop > div > h4 {
  width: 130px;
  height: 34px;
  font-size: 16px;
  font-weight: 700;
  font-family: Yregular;
  line-height: 34px;
  color: #23254e;
}
div.urview2 > div.laptop > div > p {
  width: 285px;
  height: 24px;
  font-size: 11px;
  font-family: Yregular;
  line-height: 24px;
  color: #767790;
}
div.urview2 > div.laptop > div > div {
  width: 285px;
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
div.urview2 > div.laptop > div > div > a {
  width: 142px;
  height: 147px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e0e0e6;
  border-bottom: 1px solid #e0e0e6;
}
div.urview2 > div.laptop > div > div > a:nth-of-type(2) {
  border-left: unset;
}
div.urview2 > div.laptop > div > div > a:nth-of-type(3) {
  border-bottom: unset;
}
div.urview2 > div.laptop > div > div > a:nth-of-type(4) {
  border-left: unset;
  border-bottom: unset;
}
div.urview2 > div.laptop > div > div > a > img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
div.urview2 > div.laptop > div > a:nth-last-of-type(1) {
  width: 50px;
  height: 26px;
  font-family: Yregular;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 0;
  line-height: 26px;
  text-decoration: none;
  color: #19bfd3;
  position: absolute;
  bottom: 15px;
  right: 135px;
}

div.urview2 > div.khodro {
  width: 325px;
  height: 419px;
  display: flex;
  align-items: center;
}
div.urview2 > div.khodro > div {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 419px;
  padding: 8px 20px;
  position: relative;
  border-right: 1px solid #e0e0e6;
}
div.urview2 > div.khodro > div > h4 {
  width: 180px;
  height: 34px;
  font-size: 16px;
  font-weight: 700;
  font-family: Yregular;
  line-height: 34px;
  color: #23254e;
}
div.urview2 > div.khodro > div > p {
  width: 285px;
  height: 24px;
  font-size: 11px;
  font-family: Yregular;
  line-height: 24px;
  color: #767790;
}
div.urview2 > div.khodro > div > div {
  width: 285px;
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
div.urview2 > div.khodro > div > div > a {
  width: 142px;
  height: 147px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e0e0e6;
  border-bottom: 1px solid #e0e0e6;
}
div.urview2 > div.khodro > div > div > a:nth-of-type(2) {
  border-left: unset;
}
div.urview2 > div.khodro > div > div > a:nth-of-type(3) {
  border-bottom: unset;
}
div.urview2 > div.khodro > div > div > a:nth-of-type(4) {
  border-left: unset;
  border-bottom: unset;
}
div.urview2 > div.khodro > div > div > a > img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
div.urview2 > div.khodro > div > a:nth-last-of-type(1) {
  width: 50px;
  height: 26px;
  font-family: Yregular;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 0;
  line-height: 26px;
  text-decoration: none;
  color: #19bfd3;
  position: absolute;
  bottom: 15px;
  right: 135px;
}

div.urview2 > div.fonon {
  width: 325px;
  height: 419px;
  display: flex;
  align-items: center;
}
div.urview2 > div.fonon > div {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 419px;
  padding: 8px 20px;
  position: relative;
  border-right: 1px solid #e0e0e6;
}
div.urview2 > div.fonon > div > h4 {
  width: 180px;
  height: 34px;
  font-size: 16px;
  font-weight: 700;
  font-family: Yregular;
  line-height: 34px;
  color: #23254e;
}
div.urview2 > div.fonon > div > p {
  width: 285px;
  height: 24px;
  font-size: 11px;
  font-family: Yregular;
  line-height: 24px;
  color: #767790;
}
div.urview2 > div.fonon > div > div {
  width: 285px;
  height: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
div.urview2 > div.fonon > div > div > a {
  width: 142px;
  height: 147px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #e0e0e6;
  border-bottom: 1px solid #e0e0e6;
}
div.urview2 > div.fonon > div > div > a:nth-of-type(2) {
  border-left: unset;
}
div.urview2 > div.fonon > div > div > a:nth-of-type(3) {
  border-bottom: unset;
}
div.urview2 > div.fonon > div > div > a:nth-of-type(4) {
  border-left: unset;
  border-bottom: unset;
}
div.urview2 > div.fonon > div > div > a > img {
  width: 125px;
  height: 125px;
  object-fit: cover;
}
div.urview2 > div.fonon > div > a:nth-last-of-type(1) {
  width: 50px;
  height: 26px;
  font-family: Yregular;
  font-size: 12px;
  font-weight: 700;
  word-spacing: 0;
  line-height: 26px;
  text-decoration: none;
  color: #19bfd3;
  position: absolute;
  bottom: 15px;
  right: 135px;
}
